<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="appName" value="TestLogging" />
  <variable name="logDirectory" value="${basedir}/logs" />
  <variable name="exceptionIfDifferentFromMessageLayout" value="${onexception:${when:when='${exception:format=tostring}' != '${message}':inner=${newline}EXCEPTION\\: ${exception:format=tostring}}}" />
  <variable name="actid" value="${when:when=length('${activityid}') > 0:inner= ${activityid}}" />

  <extensions>
    <!--<add assembly="Exceptionless.NLog"/>-->
  </extensions>

  <targets async="true">
    <!--           
            ServiceStack.Text someobject.Dump()
            
            layout="${longdate} ${level:uppercase=true:padding=-5} ${activityid} ${logger:shortName=true} ${message}${exceptionIfDifferentFromMessageLayout}"
    -->

    <target name="file" xsi:type="File"
            layout="${longdate} ${level:uppercase=true:padding=-5}${actid} [${identity}] ${message}${exceptionIfDifferentFromMessageLayout}"
            fileName="${logDirectory}/log.txt"
            archiveFileName="${logDirectory}/log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
            archiveAboveSize="1048576"
            maxArchiveFiles="7"
            keepFileOpen="false"
            openFileCacheTimeout="30"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true"
            encoding="utf-8" />

    <!--<target name="exceptionless" xsi:type="Exceptionless">
      <field name="host" layout="${machinename}" />
      <field name="identity" layout="${identity}" />
      <field name="windows-identity" layout="${windows-identity:userName=True:domain=False}" />
      <field name="process" layout="${processname}" />
      <field name="project" layout="${event-context:item=project}" />
    </target>-->

    <target name="VisualStudioOutputWindow" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <!--<logger name="*" minlevel="Trace" writeTo="exceptionless" />-->
    <logger name="*" minlevel="Trace" writeTo="VisualStudioOutputWindow" enabled="false" />
  </rules>
</nlog>