<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="appName" value="TestLogging" />
  <variable name="logDirectory" value="${basedir}/logs" />
  <variable name="exceptionIfDifferentFromMessageLayout" value="${onexception:${when:when='${exception:format=tostring}' != '${message}':inner=${newline}EXCEPTION\\: ${exception:format=tostring}}}" />
  <variable name="traceid" value="${when:when=length('${aspnet-traceidentifier}') > 0:inner= ${aspnet-traceidentifier}}" />

  <extensions>
  </extensions>

  <targets async="true">
    <!--           
            ServiceStack.Text someobject.Dump()
            
            layout="${longdate} ${level:uppercase=true:padding=-5} ${activityid} ${logger:shortName=true} ${message}${exceptionIfDifferentFromMessageLayout}"
    -->

    <target name="file" xsi:type="File"
            layout="${longdate} ${level:uppercase=true:padding=-5}${traceid} [${identity}] ${message}${exceptionIfDifferentFromMessageLayout}"
            fileName="${logDirectory}/log.txt"
            archiveFileName="${logDirectory}/log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
            archiveAboveSize="1048576"
            maxArchiveFiles="7"
            keepFileOpen="false"
            openFileCacheTimeout="30"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true"
            encoding="utf-8" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>